archive/*
**/_minted-*/
**/reveal.js/
**/auto/
**/__pycache__/
**/*.egg-info/
**/.direnv/
**/.ipynb_checkpoints/
.hypothesis/
**/*~

**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.nav
**/*.pdf
**/*.snm
**/*.snm
**/*.toc
**/*.vrb
**/*.run.xml
**/*.lprof

local_rewriting.tex
.coverage*
.coveragerc
TAGS
