**/_minted-*/
**/reveal.js/
**/auto/
**/__pycache__/
**/*.egg-info/
**/.direnv/
**/.ipynb_checkpoints/

**/*.*~

**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.nav
**/*.pdf
**/*.snm
**/*.snm
**/*.toc
**/*.vrb
**/*.run.xml

local_rewriting.tex