# This file lists requirements for running graphsat. This file will be
# invoked by the `make install` command at the command line.

####### Requirements without version specifiers
anytree
colorama
coverage
loguru
more-itertools
mypy
pip
pycodestyle
pydocstyle
pylint
pytest
python-sat
tabulate
tqdm
typer

####### Requirements with version specifiers


####### Installing the package itself in editable mode.
-e .
