# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/linux-64/_libgcc_mutex-0.1-conda_forge.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ca-certificates-2020.4.5.2-hecda079_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ld_impl_linux-64-2.34-h53a641e_4.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgfortran-ng-7.5.0-hdf63c60_6.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libstdcxx-ng-9.2.0-hdf63c60_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/llvm-openmp-10.0.0-hc9558a2_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/_openmp_mutex-4.5-1_llvm.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgcc-ng-9.2.0-h24d8f2e_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/bzip2-1.0.8-h516909a_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/icu-67.1-he1b5a44_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libffi-3.2.1-he1b5a44_1007.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libiconv-1.15-h516909a_1006.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libopenblas-0.3.9-h5ec1e0e_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/lz4-c-1.9.2-he1b5a44_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/lzo-2.10-h14c3975_1000.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ncurses-6.1-hf484d3e_1002.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/openssl-1.1.1g-h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xz-5.2.5-h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/yaml-0.2.5-h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/zlib-1.2.11-h516909a_1006.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libblas-3.8.0-16_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libedit-3.1.20191231-h46ee950_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libsolv-0.7.14-h8b12597_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libssh2-1.9.0-hab1572f_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libxml2-2.9.10-h72b56ed_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/readline-8.0-hf8c457e_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/tk-8.6.10-hed695b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/zstd-1.4.4-h6597ccf_3.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/krb5-1.17.1-h2fd8d38_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libarchive-3.3.3-h3a8160c_1008.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libcblas-3.8.0-16_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/liblapack-3.8.0-16_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/sqlite-3.30.1-hcee41ef_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libcurl-7.69.1-hf7181ac_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/python-3.8.3-cpython_he5300dc_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/attrs-19.3.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/backcall-0.1.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/colorama-0.4.3-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/dataclasses-0.7-py38_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/decorator-4.4.2-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/idna-2.9-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/ipython_genutils-0.2.0-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/mccabe-0.6.1-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/more-itertools-8.3.0-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/parso-0.7.0-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/ptyprocess-0.6.0-py_1001.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/py-1.8.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pycodestyle-2.6.0-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pycparser-2.20-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyparsing-2.4.7-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/python_abi-3.8-1_cp38.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/six-1.15.0-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/snowballstemmer-2.0.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/toml-0.10.1-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/tqdm-4.46.1-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/typed-ast-1.4.1-py38h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/typing_extensions-3.7.4.2-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/wcwidth-0.2.3-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/certifi-2020.4.5.2-py38h32f6830_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cffi-1.14.0-py38hd463f26_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/chardet-3.0.4-py38h32f6830_1006.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/conda-package-handling-1.6.0-py38h1e0a361_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jedi-0.17.0-py38h32f6830_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/lazy-object-proxy-1.4.3-py38h1e0a361_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/loguru-0.5.0-py38h32f6830_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/mypy_extensions-0.4.3-py38h32f6830_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/numpy-1.18.4-py38h8854b6b_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/packaging-20.4-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pexpect-4.8.0-py38h32f6830_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pickleshare-0.7.5-py38h32f6830_1001.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pluggy-0.13.1-py38h32f6830_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/psutil-5.7.0-py38h1e0a361_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pycosat-0.6.3-py38h1e0a361_1004.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pydocstyle-5.0.2-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pysocks-1.7.1-py38h32f6830_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ruamel_yaml-0.15.80-py38h1e0a361_1001.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/traitlets-4.3.3-py38h32f6830_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/wrapt-1.11.2-py38h1e0a361_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/brotlipy-0.7.0-py38h1e0a361_1000.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cryptography-2.9.2-py38h766eaa4_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/mypy-0.780-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/setuptools-47.1.1-py38h32f6830_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/astroid-2.4.1-py38h32f6830_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/isort-4.3.21-py38h32f6830_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pygments-2.6.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyopenssl-19.1.0-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pytest-5.4.3-py38h32f6830_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/wheel-0.34.2-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pip-20.1.1-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/prompt-toolkit-3.0.5-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pylint-2.5.2-py38h32f6830_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/urllib3-1.25.9-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ipython-7.15.0-py38h32f6830_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/requests-2.23.0-pyh8c360ce_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/conda-4.8.3-py38h32f6830_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/mamba-0.3.0-py38h77160cf_0.tar.bz2
